folium
geopy
google-generativeai
python-dotenv
reportlab
requests
streamlit
streamlit-folium
streamlit-mic-recorder
supabase
plotly
gtts
streamlit-lottie
executing>=2.0
streamlit-cookies-manager-v2==0.3.1

